<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ asset('build/app.css') }}">

<div class="container">
    <body>
    	<div class="container">
    <body>
    	<div class="header">
    	<ul class="nav nav-tabs">
		  <li class="nav-item">
		    <a class="nav-link active" href="/">Home</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="/form">Form</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="/users/list">List</a>
		  </li>
		</ul>
    	</div>

	<a href="/form">go to form</a>
		</body>
</html>
