<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ asset('build/app.css') }}">
<script src="{{ asset('build/app.js') }}"></script>
<!-- Enable bootstrap 4 theme -->
<script>window.__theme = 'bs4';</script>
<div class="container-fluid">
    <body>
    	<div class="header">
    	<ul class="nav nav-tabs">
		  <li class="nav-item active">
		    <a class="nav-link" href="/">Home</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="/form">Form <span class="badge" id="form"><span class="glyphicon glyphicon-new-window"></span></span></a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="/users/list">List <span class="badge" id="list"><span class="glyphicon glyphicon-new-window"></span></span></a>
		  </li>
		</ul>
    	</div>
    <div class="mycontent">
		<a href="/form">go to form</a>
	</div>
		</body>
		 
    {% include "nav.html.twig"%}
</html>
